/*
  |============================|
  |  Root
  |============================|
*/
:root {

  /*
  |===|Fonts|===|
*/
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /*
  |===|Colors|===|
*/
  /*Primary Brand*/
  --Iris: #4D5AE5;
  /*Pressed State*/
  --Ocean: #404BBF;
  /*Dark*/
  --Navy-blue: #2E2F42;
  /*Success*/
  --Green: #31D0AA;
  /*Text*/
  --Slate: #434455;
  /*Subtle Text*/
  --Light-Slate: #8E8F99;
  /*Accent*/
  --Cornflower: #E7E9FC;
  /*Light*/
  --Cloud: #F4F4FD;
  /*Modal Overlay*/
  --Navy-Blue-Modal: #2E2F42;
  /*Hero Background*/
  --Grey: #2E2F42;
  /*White Background*/
  --White: #FFFFFF;
  /*Modal Background*/
  --Dairy: #FCFCFC;
}

/*
  |============================
  | Basic styles
  |============================
*/
body {
  font-family: var(--primary-font);
  color: var(--Slate);
  background-color: var(--White);
  letter-spacing: 0.02em;
}

/*
|===|Reset>>>|===|
*/
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/*
|===|Reset<<<|===|
*/
.logo {
  color: var(--Iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.img {
  display: block;
  margin-right: 76px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*
  |============================
  | Header styles
  |============================
*/
/*
  |===|Nav menu style|===|
*/
.header {
  border-bottom: 1px var(--Cornflower);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  gap: 40px;
}

.site-nav-item {
  padding: 24px 0;
}

.site-nav-text {
  font-weight: 500;
  line-height: 1.5;
  color: var(--Navy-blue);
}

.logo-black {
  color: var(--Navy-blue);
}

.list .link:hover,
.list .link:focus {
  color: var(--Ocean);
}

/*
  |===|Header contacts style|===|
*/
.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-list-item {
  line-height: 1.5;
  color: var(--Slate);
}

/*
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--Navy-blue);
}

.hero-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--White);
}

.hero-btn {
  background-color: var(--Iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--White);

}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--Ocean);
}

/*
  |============================
  | Benefits styles
  |============================
*/
.benefits {}

.benefits-visually-hidden-title {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.benefits-list {}

.benefits-list-item {}

.benefits-subtitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}

.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*
  |============================
  | Our Team styles
  |============================
*/
.team {
  background-color: var(--Cloud);
}

.team-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Navy-blue);
}

.team-list {}

.team-list-item {
  background-color: var(--White);
}

.team-img {}

.team-subtitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}

.team-text {
  line-height: 1.5;
}

/*
  |============================
  |  Portfolio style
  |============================
*/
.portfolio {}

.porfolio-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Navy-blue);
}

.portfolio-list {}

.portfolio-list-item {
  background: var(--White);
}

.portfolio-img {}

.portfolio-subtitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}

.porfolio-text {
  line-height: 1.5;
}

/*
  |============================
  | Footer style
  |============================
*/

.footer {
  background-color: var(--Navy-blue)
}

.logo-white {

  color: var(--Cloud);
}

.footer-text {
  line-height: 1.5;
  color: var(--Cloud);
}