/*
  |============================|
  |  Root
  |============================|
*/
:root {

/*
  |===|Fonts|===|
*/
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

/*
  |===|Colors|===|
*/
  /*Primary Brand*/
  --Iris: #4D5AE5;
  /*Pressed State*/
  --Ocean: #404BBF;
  /*Dark*/
  --Navy-blue:#2E2F42;
  /*Success*/
  --Green: #31D0AA;
  /*Text*/
  --Slate:#434455;
  /*Subtle Text*/
  --Light-Slate: #8E8F99;
  /*Accent*/
  --Cornflower: #E7E9FC;
  /*Light*/
  --Cloud: #F4F4FD;
  /*Modal Overlay*/
  --Navy-Blue-Modal: #2E2F42;
  /*Hero Background*/
  --Grey: #2E2F42;
  /*White Background*/
  --White: #FFFFFF;
  /*Modal Background*/
  --Dairy: #FCFCFC;

  /*
    |===|Gaps|===|
  */

  --listed-gap: 24px;

  /*
    |===|Items|===|
  */
  --listeditems: 4;
}

/*
  |============================
  | Basic styles
  |============================
*/

*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
  background-color: var(--White);
}

/*
|===|Reset>>>|===|
*/

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
|===|Reset<<<|===|
*/


.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}

.logo {
  color: var(--Iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.adress {
  font-style: normal;
  margin-left: auto;
}

/*
  |===|Title styles|===|
*/

.title {
  width: 496px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--White);
  margin: 0 auto;
}

.subtitle {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.sub-subtitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text{
  line-height: 1.5;
  color: var(--Slate);
}

.medium-text{
  font-weight: 500;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  margin: -1px;
}

/*
  |============================
  | Header styles
  |============================
*/
header {
  border-bottom: 1px solid var(--Cornflower);
}

header .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Cornflower);
}
/*
  |============================
  | Navigation menu style
  |============================
*/
.site-nav{
  display: flex;
  margin-right: 332px;
  align-items: center;
}

.site-nav.link.logo{
}

.site-nav .list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.site-nav .medium-text {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-black {
  color: var(--Navy-blue);
}

.list .link:hover,
.list .link:focus {
  color: var(--Ocean);
}
/*
  |============================
  |  Header contacts style
  |============================
*/
.adress-list{
  display: flex;
}
.adress-list .adress-item:first-child{
  margin-right: 40px;
}

.adress-item {
  font-style: normal;
  line-height: 1.5;
  color: var(--Slate);
}
.adr-list-item{}

.adress-link {}

/*
  |============================
  | Hero styles
  |============================
*/

.hero {
  padding: 188px 0;
  background-color: var(--Navy-blue);
}

.hero-container {
}

.hero-button {
  background-color: var(--Iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--White);
  padding: 16px 32px; 
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

/*
  |============================
  | Benefits styles
  |============================
*/

.benefits {
  margin: 0 auto;
}

.benefits-container {}

.benefits-invisible-title {
  visibility: hidden;
}

.benefits-item {}

.benefits-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;

}

.benefits.text {
  color: var(--Slate)
}

/*
  |============================
  | We-Do styles
  |============================
*/

.we-do.section {
  margin: 0 auto;
  padding-top: 0px;
}

.we-do-container {}

.we-do.subtitle {
  width: 323px;
}

.we-do-list-item {}

.we-do-list-img {}

/*
  |============================
  | Our Team styles
  |============================
*/

.our-team.section {
  background-color: var(--Cloud);
}

.our-team-container {}

.our-team.subtitle {
  width: 162px;
}

.our-team-list-item {}

.our-team-list-pic {}

.our-team-list-description {}

.our-team-list-subtitle {}

.our-team-list-occupation {
  color: var(--Slate);  
}

/*
  |============================
  |  Portfolio filter style
  |============================
*/

.portfolio {}

.filter-container {}

.filter-invisible-title {
  visibility: hidden;
}

.filter.list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-item {}

.filter-button {
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.04em;
  color: var(--Iris);
  background-color: var(--Cloud);
}

/*
  |============================
  |  Our projects style
  |============================
*/
.our-projects {
}

.our-projects.list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-projects-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--Cornflower);
  background: var(--White);
}

.our-projects-img {}

.our-projects-description {}

.our-projects-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--Navy-blue);
}

.our-projects-category {
  line-height: 1.5;
  color: var(--Slate);
}

/*
  |============================
  | Footer style
  |============================
*/

.footer {
  background-color: var(--Navy-blue)
}

.footer-container {}

.logo-white {
  color: var(--Cloud)
}

.footer.text {
  color: var(--Cloud);
}
